@font-face {
    font-family: 'Lora-medium';
    src: url('../fonts/Lora-Medium.eot');
    src: url('../fonts/Lora-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora-Medium.woff2') format('woff2'),
        url('../fonts/Lora-Medium.woff') format('woff'),
        url('../fonts/Lora-Medium.ttf') format('truetype'),
        url('../fonts/Lora-Medium.svg#Lora-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
};

@font-face {
    font-family: 'Lora-regular';
    src: url('../fonts/Lora-Regular.eot');
    src: url('../fonts/Lora-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lora-Regular.woff2') format('woff2'),
        url('../fonts/Lora-Regular.woff') format('woff'),
        url('../fonts/Lora-Regular.ttf') format('truetype'),
        url('../fonts/Lora-Regular.svg#Lora-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Poppins-Regular';
    src: url('../fonts/Poppins-Regular.eot');
    src: url('../fonts/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins-Regular.ttf') format('truetype'),
        url('../fonts/Poppins-Regular.svg#Poppins-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Poppins-Medium';
    src: url('../fonts/Poppins-Medium.eot');
    src: url('../fonts/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins-Medium.ttf') format('truetype'),
        url('../fonts/Poppins-Medium.svg#Poppins-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}
