html,
body {
    background-color: #F5F0FF;

}

.header-wraper {
    padding: 23px 162px;
    width: 100%;
}

.nav-bar {
    max-width: 1117px;
    width: 100%;
}

.flex-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu {
    max-width: 459px;
    width: 100%;
    margin: 0 40px;
}

.moon-icon {
    margin: 0 20px;
}

.nav-link {
    color: #220953;
    font-family: 'Poppins-Medium';
    font-size: 16px;
}

/* burger-bar */
.burger-bar {
    display: none;
}

.X-icon {
    display: none;
}

.burger-moon {
    width: 68px;
}

.burger-menu {
    position: relative;
    z-index: 1000;
}

.burger-menu img {
    cursor: pointer;
}

.burger-menu.active .burger-bar {
    display: none;
}

.burger-menu.active .X-icon {
    display: block;
    position: fixed;
    top: 30px;
    z-index: 1100;
}


/* section1 */
.section1 {
    padding: 38px 53px 48px 65px;
}

.section1-div1 {
    max-width: 1263px;
    width: 90%;
    margin: 0 auto;
}

.section1-div2 {
    max-width: 624px;
    position: relative;
    padding: 20px 30px;
}

.star-icon {
    position: absolute;
    top: 160px;
    right: 50px;
}

.circle-icon {
    position: absolute;
    top: 363px;
    left: 0;
}

.section1-div2-2 {
    max-width: 650px;
}

.section1-p {
    max-width: 400px;
    line-height: auto;
    letter-spacing: 0%;
    margin: 20px 0 32px 0;
}

.section1-main-title {
    line-height: 130%;
}

.span-yoga {
    width: 230px;
    height: 131px;
    background: -webkit-linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    border-radius: 16px;
    color: white;
    padding: 5px 12px;
    display: inline-block;
    transform: rotate(10deg);
}


.section1-button {
    display: inline-flex;
    width: 214px;
    height: 56px;
    background: -webkit-linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    color: white;
    border: none;
    outline: none;
    border-radius: 64px;
    padding: 16px 28px;
    cursor: pointer;
    margin-bottom: 48px;
    transition: all 0.2s ease;

}

.section1-button::after {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../images/ri_arrow-right-line.svg") no-repeat center / contain;
    display: inline-block;
    transition: 0.3s ease;
}

.section1-button:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.section1-button:active {
    transform: scale(0.99);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
    filter: brightness(0.9);
}

.numbers-participants {
    width: 290px;
    height: 97px;
}

.numbers-participants-div2 {
    text-align: center;
}

.section1-image-main {
    max-width: 600px;
    width: 100%;
}

.section1-h3 {
    margin-bottom: 5px;
}

/* section2 */
.section2 {
    margin: 96px 0;
}

.section2-main-div {
    max-width: 1103px;
    width: 90%;
    margin: 0 auto;

}

.section2-div2 {
    max-width: 536px;
}

.background-div {
    margin: 0 48px 0 32px;
    width: 400px;
    height: 180px;
    border-radius: 200px;
    background-color: #E5D9FD;
    position: relative;
}

.section2-img {
    max-width: 350px;
    width: 100%;
    position: absolute;
    bottom: 25px;
    left: 10px;

}

.section2-div3 {
    max-width: 353px;
    position: relative;
}

.section2-p {
    max-width: 320px;
    color: #4B3E65;
    font-family: 'Poppins-Regular';
}

.section2-stars-img {
    position: absolute;
    top: -40px;
    left: -30px;
}

.section2-div4 {
    position: relative;
    width: 150px;
    height: 143px;

}

.section2-arrow-right {
    position: absolute;
    top: 61px;
    right: 38px;

}

.section2-ellipse {
    position: absolute;
    top: 0px;
    left: 5px;

}

.section2-button {
    cursor: pointer;
    border: none;
    outline: none;
    position: absolute;
    top: 63px;
    left: 43px;
    font-size: 16px;
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* section 3 */
.section3-main-div {
    max-width: 1111px;
    width: 90%;
    margin: 0 auto;
}

.section3-div1 {
    max-width: 500px;
    position: relative;
}

.icon-div-section3 {
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: #FFE6E5;
    position: relative;
}

.heart-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.heart-icon-section3 {
    width: 168px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 72px;
    left: 8px;
}

.div1-icon2 {
    width: 129px;
    background-color: #ffffff;
    border-radius: 12px;
    padding: 8px 12px;
    position: absolute;
    bottom: 40px;
    right: 31px;
}

.section3-p1 {
    color: #220953;
    font-size: 16px;
}

.section3-div2 {
    max-width: 580px;
}

.section3-p2 {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.section3-image {
    width: 100%;
}

.section3-main-p {
    max-width: 500px;
    margin: 40px 0 32px 0;
}

.section3-button {
    width: 163px;
}

/* section4 */

.section4-main-div {
    max-width: 1110px;
    /* height: 576px; */
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
}

.section4-div1 {
    max-width: 465px;
}

.section4-main-p {
    margin: 40px 0 32px 0;
}

.section4-div2 {
    max-width: 580px;
    height: 576px;
    position: relative;
}

.section4-image1 {
    max-width: 500px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
}

.section4-image2 {
    position: absolute;
    top: 232px;
    left: 80px;
    z-index: 2;
}

.section4-icon-video {
    width: 205px;
    padding: 16px 8px;
    background-color: #ffffff;
    border-radius: 16px;
    position: absolute;
    top: 88px;
    left: 343px;
    z-index: 8;
}

.section4-icon-trainer {
    width: 215px;
    padding: 16px 8px;
    background-color: #ffffff;
    border-radius: 16px;
    position: absolute;
    bottom: 57px;
    left: 32px;
    z-index: 8;

}

.section4-icon-trainer::before {
    content: "";
    width: 22px;
    height: 22px;
    background: url("../images/section4-runner-icon.svg") no-repeat center / contain;
    display: inline-block;
    transition: 0.3s ease;
}

.fa-icon {
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 27px;
}

.section4-p2 {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    background: linear-gradient(90deg, #FF52AF 0%, #9F53FF 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

/* fonts */
.lora-medium-96px {
    font-family: 'Lora-medium';
    font-size: 96px;
    color: #220953;
}

.lora-regular-56px {
    font-family: 'Lora-regular';
    font-size: 56px;
    color: #220953;
}

.lora-regular-64px {
    font-family: 'Lora-regular';
    font-size: 64px;
    color: #220953;
}

.poppins-regular-16px {
    font-family: 'Poppins-Regular';
    font-size: 16px;
    color: #4B3E65;
}

.poppins-regular-14px {
    font-family: 'Poppins-Regular';
    font-size: 14px;
    color: #220953;
}

.poppins-medium-16px {
    font-family: 'Poppins-Medium';
    font-size: 16px;
    color: #220953;
}

@media(max-width:1120px) {
    .section1-main-title {
        font-size: 68px;
        width: 370px;
    }

    .span-yoga {
        width: 160px;
        height: 96px;
    }

    .star-icon {
        position: absolute;
        top: 120px;
        right: 5px;
    }

    .section1 {
        padding: 0;
    }

    .header-wraper {
        padding: 23px 50px;
    }

    .section3-heading {
        font-size: 52px;
    }

}

@media(max-width:980px) {
    .section1-div1 {
        flex-direction: column;
    }

    .section1-div2 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .section1-p {
        width: 280px;
    }

    .section1-main-title {
        font-size: 82px;
        width: 470px;
    }

    .span-yoga {
        width: 190px;
        height: 106px;
    }

    .star-icon {
        position: absolute;
        top: 239px;
        left: 10px;
    }

    .circle-icon {
        width: 20px;
        position: absolute;
        top: 415px;
        left: 335px;
    }

    .section2-main-div {
        flex-direction: column;
    }

    .sectioin2-div2-1 {
        flex-direction: column;
    }

    .section2-div3 {
        margin: 46px 0 32px 0;
        text-align: center;
    }

    .section3-main-div {
        flex-direction: column;
    }

    .section3-div1 {
        order: 2;
    }

    .section3-div2 {
        text-align: center;
    }

    .section4-main-div {
        flex-direction: column;
    }

    .section4-div1 {
        text-align: center;
    }


}


@media(max-width:780px) {
    .header-wraper {
        padding: 23px 24px;
    }

    .section1-main-title {
        font-size: 68px;
        width: 370px;
    }

    .span-yoga {
        width: 160px;
        height: 96px;
    }

    .star-icon {
        width: 72px;
        position: absolute;
        top: 200px;
        left: 10px;
    }

    .circle-icon {
        width: 16px;
        position: absolute;
        top: 365px;
        left: 290px;
    }



}

@media(max-width:580px) {
    .burger-bar {
        display: block;
    }

    .nav-menu {
        display: none;
    }

    .nav-menu {
        background-color: #ffffffce;
        height: 100vh;
        width: 100%;
        max-width: 450px;
        position: fixed;
        top: 0;
        right: -450px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 15px;
        transition: .3s ease;
        z-index: 99;
        margin: 0;
    }

    .nav-menu.activeNav {
        right: 0;
    }

    .ul-nav-menu {
        width: 50px;
        height: 236px;
        display: flex;
        flex-direction: column;
        gap: 48px;
        position: absolute;
        top: 72px;
        left: 48px;
    }

    .section1-main-title {
        font-size: 44px;
        width: 270px;
    }

    .span-yoga {
        width: 123px;
        height: 66px;
    }

    .star-icon {
        width: 52px;
        position: absolute;
        top: 119px;
        left: 0;
    }

    .circle-icon {
        width: 16px;
        position: absolute;
        top: 250px;
        left: 215px;
    }

    .section1-p {
        width: 270px;
    }

    .section1-h3 {
        font-size: 28px;
    }

    .numbers-participants {
        width: 199px;
    }

    .section1 {
        padding: 0;
    }

    .section1-div2 {
        padding: 0;
    }

    .section1-button {
        width: 206px;
    }

    .background-div {
        max-width: 230px;
        height: 100px;
        margin: 0;
    }

    .section2-div2 {
        width: 300px;
    }

    .section2-p2 {
        font-family: 'Lora-medium';
        font-size: 28px;
    }

    .section2-stars-img {
        width: 50px;
        position: absolute;
        left: -10px;
    }

    .section2-img {
        max-width: 180px;
        position: absolute;
        left: 30px;
        bottom: 10px;
    }

    .section3-heading {
        font-size: 32px;
    }

    .section3-div2 {
        text-align: center;
    }

    .section3-button {
        width: 158px;
    }

    .heart-icon-section3 {
        width: 138px;
    }

    .icon-div-section3 {
        width: 36px;
        height: 36px;
    }

    .heart-icon {
        width: 20px;
    }

    .section3-p1,
    .section3-p2 {
        font-size: 13px;
    }

    .div1-icon2 {
        width: 109px;
    }
}